@keyframes rotate {
	0% {
		transform: rotate(0deg);
	}

	50% {
		transform: rotate(180deg);
	}

	100% {
		transform: rotate(360deg);
	}
}

@keyframes rotate2 {
	0% {
		transform: rotate(0deg);
		border-top-color: rgba(245, 6, 6, 0.5);
	}

	50% {
		transform: rotate(180deg);
		border-top-color: rgba(0, 0, 255, .5);
	}

	100% {
		transform: rotate(360deg);
		border-top-color: rgba(245, 6, 6, 0.5);
	}
}

* {
	box-sizing: border-box;
}

h1 {
	text-align: center;
}

.loader {
	position: relative;
	margin: 135px auto;
	width: 200px;
	height: 200px;
	display: block;
	overflow: hidden;
}

.loader div {
	height: 100%;
}

.loader4,
.loader4 div {
	border-radius: 50%;
	padding: 8px;
	border: 2px solid transparent;
	animation: rotate linear 3.5s infinite;
	border-radius: 50%;
	padding: 4px;
	animation: rotate2 4s infinite linear;
}

div:hover {
	animation-play-state: paused;
}

.loader,
.loader * {
	will-change: transform;
}